<div id="div-comment-{{ child_comment.pk }}" class="comment-cell">
  <div class="author-thumbnail">
    <img class="rounded-circle author-img" src="{{ child_comment.user.profile.profile_pic.url }}">
  </div>
  <div class="comment-box">
    <div class="comment-meta">
      <a href="">{{ child_comment.user }}</a>
      {{ child_comment.created|date:"Y-m-d" }}
    </div>
    <div class="comment-content">
      {{ child_comment.content }}
    </div>
    <div class="comment-info">
      <a href="#" class="reply-btn" onclick="do_reply({{ child_comment.pk }},{{ comment.pk }},'{{ child_comment.user.username }}',event)">回复</a>
    </div>
  </div>
</div>
