{% load crispy_forms_tags %}
{% load static %}
<div id="reply-form" class="comment-form" style="display: none;">
  <form method="POST" action="{% url 'comment-post' object.id %}">
      {% csrf_token %}
      <div class="form-group">
        {{ comment_form|crispy }}
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-sm" type="submit">发布</button>
      </div>
  </form>
</div>
<script src="{% static 'blog/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript">
    $("#reply-form").submit(function () {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      $.ajax({
        url: "{% url 'comment-post' object.id %}",
        type: 'POST',
        cache: false,
        data: {
          content: $('#reply-form #id_content').val(),
          content_type: $('#reply-form #id_content_type').val(),
          object_id: $('#reply-form #id_object_id').val(),
          parent: $('#reply-form #id_parent').val(),
          root: $('#reply-form #id_root').val(),
          csrfmiddlewaretoken: csrftoken,
        },
        success: function (data) {
            var rootID = $('#reply-form #id_root').val().toString();
            var replyCount = $('#div-comment-' + rootID + ' .comment-info' + ' #reply-count');
            // insert into reply list
            $('#reply-box-' + rootID).prepend(data);
            $('#reply-box-' + rootID).show();
            // reset form value and hide
            $('#reply-form').val("");
            $('#reply-form').hide();
            // reply count plus one
            replyCount.text((Number(replyCount.text()) + 1).toString());
            var morebtn = replyCount.next();
            morebtn.text(morebtn.text()== '点击查看' ? '收起': '点击查看');
          },
        error: function (xhr){
          console.log(xhr);
        }

      });
      return false;
    });
</script>
