{% load static %}
{% load django_bootstrap_icons %}
{% include_bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% if title %}
    <title>啵啵的博客 - {{ title }}</title>
  {% else %}
    <title>啵啵的博客</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'blog/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/clean-blog.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" />
  {% block headcontent %}{% endblock %}
</head>
<body>
  <!-- Navigation -->
  {% include "blog/navbar.html" %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      {% block content %}{% endblock %}
      {% include "blog/sidebar.html" %}
    </div>
  </div>

  {% include "blog/footer.html" %}
</body>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'blog/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<!-- Custom scripts for this template -->
<script src="{% static 'blog/js/clean-blog.js' %}"></script>


<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/plugins/codesnippet/plugin.js' %}"></script>

<script>hljs.initHighlightingOnLoad();</script>
{% block javascript %}{% endblock %}
</html>
