<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-sm">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <div class="copyright text-muted">Copyright&copy;&nbsp;2021&nbsp;<a href="{% url 'blog-home' %}">boboblog</a></div>
        <div class="copyright text-muted">Powered by
          <a href="https://www.djangoproject.com/">Django&nbsp;|&nbsp;</a>
          <a href="https://github.com/yanbozz/boboblog">yanbozz&nbsp;|&nbsp;</a>
        </div>
        <div id="stats">
        <!-- STATS: 加载时间: %(total_time).9fs ENDSTATS -->
        </div>
      </div>
    </div>
  </div>
</footer>
