{% extends "blog/base.html" %}
{% block content %}

<div class="col-lg-8 col-md-10 mx-auto">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">删除博客</legend>
      <h2>你确定要删除: "{{ object.title }}" 吗?</h2>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-danger" type="submit">确认</button>
      <a class="btn btn-secondary" href="{% url 'post-detail' object.id %}">取消</a>
    </div>
  </form>
  <br>
</div>

{% endblock content %}
