<div class="hidden-xs col-sm-10 col-md-2 col-lg-3">
  <div class="tag-list">
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">标签分类</li>
      {% for tag in tags %}
        <a href="{% url 'posts-with-tag' tag.slug %}" class="">
          <li class="list-group-item">
            {{ tag.tag_name }}
            <span class="badge badge-secondary badge-pill">{{ tag.num_posts }}</span>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
  <div class="date-list">
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">日期归档</li>
      {% for post_date, count in post_dates %}
        <a href="{% url 'posts-with-date' post_date.year post_date.month %}" class="">
          <li class="list-group-item">
            {{ post_date|date:"Y年m月" }}
            <span class="badge badge-secondary badge-pill">{{ count }}</span>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>
